<!DOCTYPE html>
<html lang="en">
<head>
    {% block  head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>таланты твоего города</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="header">
            <h1>таланты твоего города</h1>
        </div>
    </header>
    <main>{% block content %}{% endblock %}</main>
</body>
</html>
